Repository kerenkhatiwada/vite-codecov: changes, and which Codecov flags are due for each by the changed paths.
All: HelloWorld, App

Fix Codecov dashboard: Add flags, improve coverage, and enhance CI workflow
  .github/workflows/test-and-coverage.yml
  codecov.yml
  package-lock.json
  package.json
  src/tests/HelloWorld.test.js
Due: none

Add NewComponent for carryforward testing
  .github/workflows/test-and-coverage.yml
  codecov.yml
  src/components/NewComponent.vue
  src/tests/NewComponent.test.js
  upload-coverage.sh
Due: none

Add comprehensive carryforward testing setup
  .github/workflows/test-carryforward.yml
  codecov.yml
  coverage-partial/base.css
  coverage-partial/block-navigation.js
  coverage-partial/coverage-final.json
  coverage-partial/favicon.png
  coverage-partial/index.html
  coverage-partial/lcov-report/base.css
  coverage-partial/lcov-report/block-navigation.js
  coverage-partial/lcov-report/favicon.png
  coverage-partial/lcov-report/index.html
  coverage-partial/lcov-report/prettify.css
  coverage-partial/lcov-report/prettify.js
  coverage-partial/lcov-report/sort-arrow-sprite.png
  coverage-partial/lcov-report/sorter.js
  coverage-partial/lcov-report/src/App.vue.html
  coverage-partial/lcov-report/src/components/HelloWorld.vue.html
  coverage-partial/lcov-report/src/components/NewComponent.vue.html
  coverage-partial/lcov-report/src/components/index.html
  coverage-partial/lcov-report/src/index.html
  coverage-partial/lcov-report/src/main.js.html
  coverage-partial/lcov.info
  coverage-partial/prettify.css
  coverage-partial/prettify.js
  coverage-partial/sort-arrow-sprite.png
  coverage-partial/sorter.js
  coverage-partial/src/App.vue.html
  coverage-partial/src/components/HelloWorld.vue.html
  coverage-partial/src/components/NewComponent.vue.html
  coverage-partial/src/components/index.html
  coverage-partial/src/index.html
  coverage-partial/src/main.js.html
  package.json
  test-carryforward.sh
  vitest.partial.config.js
Due: none

Update App.vue
  src/App.vue
Due: App

Update HelloWorld.vue
  src/components/HelloWorld.vue
Due: HelloWorld

Path conditions:
  HelloWorld: any of: src/components/HelloWorld.vue
  App: any of: src/App.vue
